body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
body:has(.backdrop.is-open) {
  overflow-y: hidden;
}

/* #region reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion */

/* #region Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.contacts {
  margin-left: auto;
}
/* #endregion */

/* #region logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo .logo-part {
  color: #4d5ae5;
}
.footer-logo {
  color: #f4f4fd;
  display: block;
}
.footer-logo .logo-part {
  color: #4d5ae5;
}
/* #endregion */

/* #region Navigation */
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.active {
  color: #404bbf;
  position: relative;
}
.nav-link.active::after {
  content: "";

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background: #404bbf;
}
/* #endregion */

/* #region Contacts */

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Hero */
.hero {
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(46, 47, 66, 0.7);
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 48px;
  width: 496px;
  margin: auto;
}
.hero-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: max-content;
  height: 56px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
/* #endregion */

/* #region Features */
.features-section {
  padding: 120px 0;
}
.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-item {
  width: calc((100% - 24px * 3) / 4);
}
.features-icon-box {
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Team */
.team-section {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 24px * 3) / 4);
}
.team-card-wrap {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.team-icon {
  fill: #f4f4fd;
}
/* #endregion */

/* #region Portfolio */
.portfolio-section {
  padding: 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.portfolio-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
.portfolio-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}
/* #endregion */

/* #region Footer */
.page-footer {
  padding: 100px 0;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-wrapper {
  width: 264px;
  margin-right: 120px;
}
.page-footer {
  background: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
}
.footer-socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 80px;
}
.footer-solials-link {
  background-color: #4d5ae5;
  border-radius: 100%;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-solials-link:hover,
.footer-solials-link:focus {
  background-color: #31d0aa;
}
.footer-solials-icon {
  fill: #f4f4fd;
}
/* #endregion */

/* #region Footer-form */

.footer-form {
  display: flex;
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  margin-right: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form-input:focus {
  outline: transparent;
  border: 1px solid #31d0aa;
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}
.footer-form-icon {
  fill: #fff;
}
/* #endregion */

/* #region Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(50%) translateY(70%);
  opacity: 0;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 24px;
}
.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition-delay: 250ms;
}
.modal-btn {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #fff;
}
.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
/* #endregion */

/* #region Contact-form */
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.contact-input-wrapper {
  position: relative;
}
.contact-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 38px;
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.contact-form-input:focus + .contact-form-icon {
  fill: #4d5ae5;
}

.contact-form-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-field .textarea {
  margin-bottom: 16px;
}
.contact-form-input.textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
}
.contact-form-input.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.contact-form-user-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: block;
  margin-bottom: 24px;
}
.contact-form-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: #f4f4fd;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.contact-form-checkbox:checked + .custom-checkbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}
.contact-form-checkbox-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-checkbox:checked
  + .custom-checkbox
  > .contact-form-checkbox-icon {
  opacity: 1;
}
.btn-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: #404bbf;
}
/* #endregion */
